body {
  height: 100vh;
  background-color: #363636;
}
body,
input,
button {
  font-family: "Lato", sans-serif !important;
}
::placeholder {
  color: whitesmoke !important;
  opacity: 1;
}
.input,
.input:hover,
.input:focus {
  border-color: #b5b5b5 !important;
}
.level .level-item {
  margin-bottom: 50px !important;
}
